<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for the purchase</h1>
    <p>Please see below for the total products you have ordered!</p>
    <p>Your total is: <%= number_to_currency(@order.total_cents/100.00) %></p>
        <% @total_items = 0 %>
    <p><% LineItem.where(order_id: @order.id).each do |u| %>
          <%= u.product.name %>
          <%= u.quantity %>
          <% @total_items += u.quantity %>
      <% end %>
      The total items are: <%= @total_items %>
    </p>
  </body>
</html>